# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Aa]rtifacts/
/[Pp]ackages/manifest-temp.json

# IDE & misc
.vs/
*.csproj
*.sln
*.user
*.suo
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash/other
*.stackdump

# Unity ML-Agents timers (generated)
/Assets/ML-Agents/Timers/
